@model List<Laboratorio5.Models.PaisModel>;

@{
    ViewData["Title"] ="Paises";
}
<h1>@ViewBag.MainTitle</h1>
<div>
    <a href="@Url.Action("CrearPais", "Paises")">Crear País</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Idioma</th>
                <th>Continente</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Idioma</td>
                    <td>@item.Continente</td>
                    <td>@Html.ActionLink("Editar", "editarPais", new {identificador = @item.Id},
                    new {@class = "btn btn alert-info", @onclick = "return confirm('¿Quiere editar este país?');"})</td>
                   <td>@Html.ActionLink("Borrar", "borrarPais", new {identificador = @item.Id},
                    new {@class = "btn btn alert-danger", @onclick = "return confirm('¿Quiere Borrar este país?');"})</td>
                </tr>
            }
        </tbody>
    </table>
</div>

